{% extends "base.html" %}

{% block content %}
<p style="margin: 0em 0 2em 0em;">Цей веб-сайт присвячений всесвітньо відомій культурі книг. Мета його створення -
    зробити доступ до літературних
    шедеврів легким та привабливим для всіх, хто цікавиться світом книг. </p>
<p style="margin: 0em 0 2em 0em;"> Використані сучасні технології для забезпечення найвищої якості обслуговування та
    зручності користування.</p>
<p style="margin: 0em 0 2em 0em;">Дизайн сайту ретельно продуманий, щоб кожен відвідувач міг знайти те, що шукає, та
    відчути комфорт під час
    користування. На цьому сайті ви знайдете широкий вибір книг на будь-який смак і для будь-якого віку.</p>
<p style="margin: 0em 0 2em 0em;">Ми завжди відкриті для нових ідей та пропозицій, тому не соромтеся звертатися до нас з
    будь-якими питаннями або
    коментарями. Насолоджуйтесь читанням та досліджуйте захопливий світ літератури разом з нами!</p>
{% endblock %}