{% extends "base.html" %}

{% block content %}
{% load static %}
<h1 style="text-align: center;">Книжковий магазин: Широкий вибір літератури</h1>
<section class="tiles">
    {% for item in page_obj %}
    <article class="style{{ range|random }}">
        <span class="image">
            {% if item.image %}
            <img src="{{ item.image.url }}" alt="" style="width: 410px; height: 500px;" />
            {% else %}
            <img src="{% static 'images/pic01.jpg' %}?v=1.0" alt="" />
            {% endif %}
        </span>
        <a href="{% url 'store:item_details' item.slug %}?v=1.0">
            <div class="tag">
                <object>
                    {% for tag in item.tags.all %}
                    <a href="{% url 'store:tag_details' tag.slug %}?v=1.0" style="color: white">{{ tag }}</a>
                    {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </object><br />
            </div>
            <h2>{{ item.title }}</h2>
            <div class="content">
                <p>{{ item.description|truncatechars:150 }}</p>
            </div>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %}

