@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 3.5s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

form {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

form>input {
    margin-top: 50px;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

/* section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*
=============== 
Video
===============
*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(245, 247, 246);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: var(--transition);
}

.hide-preloader {
    z-index: -999;
    visibility: hidden;
}

header {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    box-shadow: 0 0 40px;
}

h1 {
    color: var(--clr-white);
}

/* switch button */

.switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: var(--radius);
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: var(--transition);
}

.switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--clr-primary-5);
}

.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--clr-primary-5);
    border-radius: var(--radius);
    margin: 0;
    display: block;
    transition: var(--transition);
}

.slide .switch {
    left: 50%;
}

/* header after */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#header {
    padding: 3em 0 0.1em 0;
    min-height: 0;
}

#header .logo {
    display: block;
    border-bottom: 0;
    color: inherit;
    font-weight: 900;
    letter-spacing: 0.35em;
    margin: 0 0 2.5em 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0 0 25.5em;
}

#header .logo>* {
    display: none;
    vertical-align: middle;
}

#header .logo .symbol {
    margin-right: 0.65em;
}

#header .logo .symbol img {
    display: block;
    width: 2em;
    height: 2em;
}

#header nav {
    position: fixed;
    right: 2em;
    top: 2em;
    z-index: 10000;
}

#header nav ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header nav ul li {
    display: block;
    padding: 0;
}

#header nav ul li a {
    display: block;
    position: relative;
    height: 3em;
    line-height: 3em;
    padding: 0 1.5em;
    border-radius: 4px;
    border: 0;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}

#header nav ul li a[href="#menu"] {
    -webkit-tap-highlight-color: transparent;
    width: 4em;
    text-indent: 4em;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

#header nav ul li a[href="#menu"]:before,
#header nav ul li a[href="#menu"]:after {
    -moz-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em 2em;
}

#header nav ul li a[href="#menu"]:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23f2849e%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
    opacity: 0;
}

#header nav ul li a[href="#menu"]:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
    opacity: 1;
}

#header nav ul li a[href="#menu"]:hover:before {
    opacity: 1;
}

#header nav ul li a[href="#menu"]:hover:after {
    opacity: 0;
}

@media screen and (max-width: 736px) {

    #header {
        padding: 4em 0 0.1em 0;
    }

    #header nav {
        right: 0.5em;
        top: 0.5em;
    }

    #header nav ul li a[href="#menu"]:before,
    #header nav ul li a[href="#menu"]:after {
        background-size: 1.5em 1.5em;
    }

}

#header nav ul li a[href="#menu"]:hover:after {
    opacity: 0;
}

@media screen and (max-width: 736px) {

    #header {
        padding: 4em 0 0.1em 0;
    }

    #header nav {
        right: 0.5em;
        top: 0.5em;
    }

    #header nav ul li a[href="#menu"]:before,
    #header nav ul li a[href="#menu"]:after {
        background-size: 1.5em 1.5em;
    }

}

.recomm_wrapper {
    margin-top: 50px;
}

.cards {
    display: flex;
    gap: 30%;
    width: 15%;
    margin-top: 50px;
}

.cards .card {
    flex: 1;
    background-color: #fff1f1;
    border-radius: 20px;
    box-shadow: 0 0 20px;

}

.material-symbols-outlined {

    font-size: 42px;
    margin-top: 30px;
}

.cards .card .card_img {
    width: 300px;
    padding: 32px 32px;
}

.cards .card .card_img img {
    border-radius: 20px;
    box-shadow: 0 0 40px;
    height: 350px;
}

.cards .card .card_img img:hover {
    border-radius: 30px;
    transform: scale(1.1);
}

.cards .card .card_info {
    text-align: center;
    font-size: 20px;
}


.cards .card .card_button {
    margin: -43px 0 16px 78px;
}

.gr {
    display: flex;
    margin-left: 47.9%;
}

.button-prev,
.button-next {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.card h2 {
    font-size: 14px;
    margin: 20px 0 0 20px;
    font-family: 'Roboto';
}



body {
    overflow-x: hidden;
}



.header .butt:hover {
    background-color: #222;
}


/* ///////////////////// */


main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 80vw;
    max-width: var(--fixed-width);
}

.review {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
}

.review:hover {
    box-shadow: var(--dark-shadow);
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

#person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--clr-primary-5);
    color: var(--clr-white);
}

.img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-primary-5);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}

#author {
    margin-bottom: 0.25rem;
}

#job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
}

#info {
    margin-bottom: 0.75rem;
}

.prev-btn,
.next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    margin: 0 0.5rem;
    transition: var(--transition);
    border: 0;
    background-color: #c797b7;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    color: var(--clr-primary-5);
}

/* .random-btn {
    margin-top: 0.5rem;
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    border-color: var(--clr-primary-5);
    cursor: pointer;
}

.random-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
} */