{% extends "base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/users.css'%}?v=1.0" />
{% endblock %}

{% block content %}
<h1>Зареєструватися</h1>
<form method="post" action="{% url 'users:signup' %}">
  {% csrf_token %}
  {% for field in form %}
  <p>
  <div class="form-field">
    <label for="{{ field.id_for_label }}">{{ field.label }}:</label> {{ field }}
  </div>
  {% if form.errors %}
  <div class="alert alert-danger">
    {% for error in field.errors %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
  </p>
  {% endfor %}
  <button type="submit" class="btn btn-primary">
    Зареєструватися
  </button>
</form>
{% endblock %}